<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.globulus.easyflows.flow.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.FtueActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.TermsOfUseActivity"
            android:label="@string/terms_of_use" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".activities.ParentalConsentActivity"
            android:label="@string/parental_consent" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.GenresActivity"
            android:label="@string/title_activity_genres" />
        <activity
            android:name=".activities.MoviesActivity"
            android:label="@string/movies" />
        <activity
            android:name=".activities.ShopConfirmActivity"
            android:label="@string/purchase_complete" />
    </application>

</manifest>